<div class="mx-auto md:w-2/3 w-full">
  <%= render "shared/flash" %>
  <h1 class="font-bold text-3xl mb-4">Settings</h1>
  <%= render "settings/nav" %>

  <%= form_with model: @organization, url: settings_organization_path, method: :patch, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :name, required: true, class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <%= form.label :slug, "Public URL slug", class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :slug, required: true, class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
      <p class="text-xs text-gray-400 mt-1">Used for public pages: /o/<%= @organization.slug %>/...</p>
    </div>
    <div class="my-5">
      <%= form.label :time_zone, class: "block text-sm font-medium text-gray-700" %>
      <%= form.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {}, { class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full bg-white" } %>
    </div>
    <%= form.submit "Save", class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium cursor-pointer" %>
  <% end %>
</div>
